<div class="profile_container">
  <div class="filler"></div>
  <div class="profile-content">
  <h2>Paw Pal Profile</h2>

  <div id='profilePicture' >
      <form action="/profile/uploadphoto" enctype="multipart/form-data" method="POST"> 
          <label for="myfile">Please upload a profile photo:</label>
          <input type="file" id="myfile" name="profileImage" accept="image/*">
          <input id="submit" type="submit" value="Upload Photo">
        </form>    
  </div>

  <!-- Profile Pic -->
  <!-- <div class="profileContainer">
    <img src="#" alt="profile pic">
  </div> -->
  <!-- Profile Pic -->

  <!-- About info form  -->
  <div class="aboutInfo">
    <form id='petInfo' action="/profile" method="POST">
      <fieldset>
        <legend>About Me</legend>
        <label>My name is:</label>
        <input placeholder="Enter here" type="text" id="fname" name="fname">
        <label>My breed is:</label>
        <select type="select" id="breed" name="breed">
          <option value="bulldog">Bulldog</option>
          <option value="cockerspaniel">Cockerspaniel</option>
          <option value="dalmation">dalmation</option>
          <option value="poodle">Poodle</option>
          <option value="dashound">Dashound</option>
          <option value="laborador">Labrador</option>
          <option value="cat">Cat</option>
        </select>
        <label>My age bracket is:</label>
        <select type="select" id="age" name="age">
          <option value="1-4">1-4</option>
          <option value="4-8">4-8</option>
          <option value="8-12">8-12</option>
          <option value="12-16">12-16</option>
          <option value="16+">16+</option>
        </select>
        <!-- <input type="number" id="age" min="1" max="12" name="age_months"><br> -->
        <textarea name=“description” rows=“1” cols="60" placeholder="Feel free to add a short puppy bio..."></textarea>
        <input id="submit" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
  <!-- About info form  -->

  <!-- don't delete plz! -->
  <button id="chat-room"><a href='http://localhost:8080'>Chat room</a></button>
  </div>
  <div class="filler"></div>
</div>