<h2>Paw Pal Profile</h2>

<div id='profilePicture' >
    <form action="/profile/uploadphoto" enctype="multipart/form-data" method="POST"> 
        <label for="myfile">Upload profile photo:</label>
        <input type="file" id="myfile" name="profileImage" accept="image/*"><br><br>
        <input type="submit" value="Upload Photo">
      </form>    
</div>

<!-- Profile Pic -->
<div class="profileContainer">
  <img src="#" alt="profile pic">
</div>
<!-- Profile Pic -->

<!-- About info form  -->
<div class="aboutInfo">
  <form id='petInfo' action="/profile/bio" method="POST">
    <fieldset>
      <legend>About Me:</legend>
      <label>Name:</label>
      <input placeholder="Enter here" type="text" id="fname" name="name"><br>
      <label>Breed:</label>
      <select name="breed" id="breed">
        <option value="dalmation">Dalmation</option>
        <option value="bulldog">Bulldog</option>
        <option value="poodle">Poodle</option>
        <option value="cat">Cat</option>
      </select>
      <br>
      <label>Age:</label>
      <input type="text" id="age" name="age" placeholder="Enter here"><br><br>
      <!-- <input type="number" id="age" min="1" max="12" name="age_months"><br> -->
      <label>Bio:</label>
      <textarea name=“bio” rows=“1” cols="60" placeholder="Feel free to add a short puppy bio..."></textarea><br><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
<!-- About info form  -->

