
<div id='profilePicture' >
    <form action="/profile/uploadphoto" enctype="multipart/form-data" method="POST"> 
        <label for="myfile">Upload profile photo:</label>
        <input type="file" id="myfile" name="profileImage" accept="image/*"><br><br>
        <input type="submit" value="Upload Photo">
      </form>    
</div>
