.container {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    height: 500px;
  #form-content{
    #new-session-form {
      background-color: $primaryColour;
      border: 2px solid $buttonColour;
      border-radius: 10px;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      .submit {
        background-color: $buttonColour;
      }
    }
  }
}