<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <head>
    <nav>
      <!-- Sign in/ Sign up -->
      <!-- profile -->
      <!-- Logo/home button -->
      <!-- upcoming events -->
      <div>
        <a href="#">Dog Buddy</a>
      </div>
      <div>
        <ul>
          <li>Map</li>
          <li>Profile</li>
          <li>log out</li>
        </ul>
      </div>
    </nav>
  </head>
  <%= body %>
</body>
</html>
