<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>
  <header class='nav-container'>
    <div id="navigation-bar">
      <a href="#" id="logo"><img src="./images/dog.png"></a>
      <nav>
        <div></div>
        <div>
          <h1 id="brand">Pet Puppy Paw Pals</h1>
        </div>
        <div>
          <ul>
            <li><a href=#>Map</a></li>
            <li><a href=#>Profile</a></li>
            <li><a href=#>Logout</a></li>
            <a href="#" id="menu-icon"></a>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="space-div"></div>
  <div class="body-container">
    <%-body %>
  </div>

  
</body>
</html>
