<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Pet Puppy Paw Pals</title>
</head>
<body>
  <header class='nav-container'>
    <div id="navigation-bar">
      <a href="./" id="logo"><img src="./images/dog.png"></a>
      <nav>
        <div></div>
        <div>
          <h1 id="brand">Pet Puppy Paw Pals</h1>
          <h1 id="short">PPPP</h1>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href=#>Map</a></li>
            <li><a href=#>Profile</a></li>
            <li><a href=#>Logout</a></li>
          </ul>
          <div class="icon-container">
            <button class="menu-icon"><img src="./images/paw.png" alt=""></button>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="space-div"></div>
  <div class="side-menu">
    <ul>
      <li><a href=#>Map</a></li>
      <li><a href=#>Profile</a></li>
      <li><a href=#>Logout</a></li>
    </ul>
  </div>
  <div class="body-container">
    <%-body %>
  </div>

  <footer>
    <p>Copyright&copy; 2021, Pet Puppy Paw Pals Corporation</p>
  </footer>
</body>
</html>
