// button style
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

@mixin page-btn {
  border-radius: 15%;
  color: $secondaryColour;
}