@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4e5049;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.9px;
  line-height: 1.5;
  text-align: center;
}

body {
  background-color: #e0d2d1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* FONT IMPORTED */
#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */
/** NAVIGATION BAR */
img {
  display: flex;
  justify-self: end;
  position: fixed;
  width: 100px;
  z-index: 10;
}

nav {
  height: 67px;
  overflow: hidden;
  background-color: #b5c9c3;
  position: fixed;
  float: left;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  z-index: 2;
}
nav #brand {
  text-align: center;
}
@media (max-width: 768px) {
  nav #brand {
    display: none;
  }
}
@media (min-width: 769px) {
  nav #short {
    display: none;
  }
}
nav ul form {
  text-align: right;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
}
@media (max-width: 991px) {
  nav ul form {
    display: none;
  }
}
nav ul form .nav-link {
  vertical-align: middle;
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}
nav ul form .nav-link a {
  color: #f2f2f2;
  text-decoration: none;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 26px;
}
nav ul form .nav-link a:hover {
  background-color: #56766d;
  cursor: pointer;
}
nav ul form .nav-link #logout {
  color: #f2f2f2;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 23px;
}
nav ul form .nav-link #logout:hover {
  background-color: #56766d;
  cursor: pointer;
}
nav .icon-container {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}
nav .icon-container .menu-icon {
  background: #56766d;
  border-radius: 30%;
}
nav .icon-container .menu-icon:hover {
  background: #455f57;
  transition: all 0.3s ease;
}
nav .icon-container .menu-icon:active {
  background: #202c29;
}
@media (min-width: 991px) {
  nav .icon-container .menu-icon {
    display: none;
  }
}
nav .icon-container .menu-icon img {
  width: 50px;
  position: relative;
}
@media (min-width: 991px) {
  nav .icon-container .menu-icon img {
    display: none;
  }
}
nav .icon-container .menu-icon img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

.content {
  text-align: center;
}

.space-div {
  height: 100px;
  width: 100%;
}

.space-div-bottom {
  height: 150px;
  width: 100%;
}

.side-menu {
  z-index: 2;
  transform: translateX(100%);
  transition: 1s ease;
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 30vw;
  background-color: #4e5049;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
@media (min-width: 991px) {
  .side-menu {
    display: none;
  }
}
.side-menu .icon-container {
  margin-top: 10px;
  padding-right: 10px;
  align-self: flex-end;
}
.side-menu .icon-container .menu-icon {
  background: #56766d;
  border-radius: 30%;
}
.side-menu .icon-container .menu-icon:hover {
  background: #455f57;
  transition: all 0.3s ease;
}
.side-menu .icon-container .menu-icon:active {
  background: #202c29;
}
.side-menu .icon-container .menu-icon img {
  width: 50px;
  position: relative;
}
@media (min-width: 991px) {
  .side-menu .icon-container .menu-icon img {
    display: none;
  }
}
.side-menu .icon-container .menu-icon img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}
.side-menu ul {
  margin-top: 10vw;
}
.side-menu ul li {
  margin: 50px;
}
.side-menu ul li a {
  color: #e0d2d1;
}

.active {
  transform: translateX(0%);
}

.body-container {
  height: 75%;
  width: 100%;
  z-index: 1;
}
@media (min-width: 991px) {
  .body-container {
    margin: auto;
  }
}

footer {
  height: 67px;
  overflow: hidden;
  background-color: #b5c9c3;
  width: 100vw;
  align-items: center;
  display: flex;
  margin-top: auto;
  justify-content: center;
  z-index: 2;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
footer p {
  font-size: 0.7rem;
}

#map {
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 100px;
  max-width: 1200px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */