@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4e5049;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .9px;
  line-height: 1.5;
  text-align: center;
}

body {
  background-color: #e0d2d1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

/* FONT IMPORTED */
#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */
/** NAVIGATION BAR */
img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  position: fixed;
  width: 100px;
  z-index: 10;
}

nav {
  height: 67px;
  overflow: hidden;
  background-color: #b5c9c3;
  position: fixed;
  float: left;
  top: 0;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

nav #brand {
  text-align: center;
}

@media (max-width: 768px) {
  nav #brand {
    display: none;
  }
}

@media (min-width: 769px) {
  nav #short {
    display: none;
  }
}

nav ul {
  text-align: right;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 991px) {
  nav ul {
    display: none;
  }
}

nav ul .nav-link {
  vertical-align: middle;
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

nav ul .nav-link a {
  color: #f2f2f2;
  text-decoration: none;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 26px;
}

nav ul .nav-link a:hover {
  background-color: #56766d;
  cursor: pointer;
}

nav ul form {
  text-align: right;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 991px) {
  nav ul form {
    display: none;
  }
}

nav ul form .nav-link {
  vertical-align: middle;
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

nav ul form .nav-link a {
  color: #f2f2f2;
  text-decoration: none;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 26px;
}

nav ul form .nav-link a:hover {
  background-color: #56766d;
  cursor: pointer;
}

nav ul form .nav-link #logout {
  color: #f2f2f2;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 23px;
}

nav ul form .nav-link #logout:hover {
  background-color: #56766d;
  cursor: pointer;
}

nav .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10px;
}

nav .icon-container .menu-icon {
  background: #56766d;
  border-radius: 30%;
}

nav .icon-container .menu-icon:hover {
  background: #455f57;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .icon-container .menu-icon:active {
  background: #202c29;
}

@media (min-width: 991px) {
  nav .icon-container .menu-icon {
    display: none;
  }
}

nav .icon-container .menu-icon img {
  width: 50px;
  position: relative;
}

@media (min-width: 991px) {
  nav .icon-container .menu-icon img {
    display: none;
  }
}

nav .icon-container .menu-icon img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.content {
  text-align: center;
}

.space-div {
  height: 100px;
  width: 100%;
}

.space-div-bottom {
  height: 150px;
  width: 100%;
}

.side-menu {
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 30vw;
  background-color: #4e5049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (min-width: 991px) {
  .side-menu {
    display: none;
  }
}

.side-menu .icon-container {
  margin-top: 10px;
  padding-right: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.side-menu .icon-container .menu-icon {
  background: #56766d;
  border-radius: 30%;
}

.side-menu .icon-container .menu-icon:hover {
  background: #455f57;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side-menu .icon-container .menu-icon:active {
  background: #202c29;
}

.side-menu .icon-container .menu-icon img {
  width: 50px;
  position: relative;
}

@media (min-width: 991px) {
  .side-menu .icon-container .menu-icon img {
    display: none;
  }
}

.side-menu .icon-container .menu-icon img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.side-menu ul {
  margin-top: 10vw;
}

.side-menu ul li {
  margin: 50px;
}

.side-menu ul li a {
  color: #e0d2d1;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.body-container {
  height: 75%;
  width: 100%;
  z-index: 1;
}

@media (min-width: 991px) {
  .body-container {
    margin: auto;
  }
}

footer {
  height: 67px;
  overflow: hidden;
  background-color: #b5c9c3;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

footer p {
  font-size: .7rem;
}

.profile_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.profile_container .profile-content h2 {
  font-size: 40px;
}

.profile_container .profile-content #profilePicture form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.profile_container .profile-content #profilePicture form #myfile {
  margin-left: 150px;
  font-size: 12px;
}

.profile_container .profile-content #profilePicture form #submit {
  width: 100px;
  margin: auto;
  background: #56766d;
  color: #f5f0f0;
  border-radius: 10px;
  margin-top: 10px;
}

.profile_container .profile-content #profilePicture form #submit:hover {
  background: #455f57;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile_container .profile-content #profilePicture form #submit:active {
  background: #202c29;
}

.profile_container .profile-content .aboutInfo fieldset {
  color: #56766d;
  border-radius: 10px;
  border-style: dashed;
  border-color: #56766d;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.profile_container .profile-content .aboutInfo fieldset legend {
  font-weight: 700;
}

.profile_container .profile-content .aboutInfo fieldset label {
  font-size: 15px;
}

.profile_container .profile-content .aboutInfo fieldset input {
  margin: auto;
  background-color: #b5c9c3;
  border-radius: 10px;
}

.profile_container .profile-content .aboutInfo fieldset input::-webkit-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset input:-ms-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset input::-ms-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset input::placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset select {
  margin: auto;
  color: #f5f0f0;
  background-color: #b5c9c3;
  border-radius: 10px;
}

.profile_container .profile-content .aboutInfo fieldset textarea {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #b5c9c3;
}

.profile_container .profile-content .aboutInfo fieldset textarea::-webkit-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset textarea:-ms-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset textarea::-ms-input-placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset textarea::placeholder {
  color: #f5f0f0;
}

.profile_container .profile-content .aboutInfo fieldset #submit {
  width: 100px;
  margin: auto;
  background: #56766d;
  color: #f5f0f0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile_container .profile-content .aboutInfo fieldset #submit:hover {
  background: #455f57;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile_container .profile-content .aboutInfo fieldset #submit:active {
  background: #202c29;
}

.profile_container .profile-content #chat-room {
  width: 150px;
  margin: auto;
  background: #56766d;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile_container .profile-content #chat-room:hover {
  background: #455f57;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile_container .profile-content #chat-room:active {
  background: #202c29;
}

.profile_container .profile-content #chat-room a {
  color: #f5f0f0;
}

#map {
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 100px;
  max-width: 1200px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */