<form id='hiddenInput' action='/dogevent' method='post'>
  <input type='submit' id='saveLocation' value='Submit'>
  <input type='hidden' name='markerLat' id='markerLat' value=''>
  <input type='hidden' name='markerLon' id='markerLon' value=''>
</form>