<h1 id="title">Map</h1>

<div id="coordinateInput">
  <button id=update-map>Update View</button>
  <input type="text" name="lat" id="lat">
  <input type="text" name="lon" id="lon">
</div>
<div id="map">
  <script src="javascripts/map.js"></script>
</div>
<p style="display: none;" id="user_image"> <%= user.imageBase64 %> </p>
<script>
  const dogevents = <%- JSON.stringify(dogevents)  %>; 
</script>
