<h1 id="title">Map</h1>

<div id="coordinateInput">
  <button id=update-map>Update View</button>
  <input type="text" name="lat" id="lat">
  <input type="text" name="lon" id="lon">
</div>
<div id="map">
  <script src="javascripts/map.js"></script>
</div>


<!-- weather api form  -->
<h3>Weather Checker </h3>
<div class="input">
  <input placeholder="Enter a city" type="text" class="inputValue">
  <input type="submit" value="submit" class="button">
</div>
<div class="display">
  <h1 class="name"></h1>
  <p class="desc"></p>
  <p class="temp"></p>
</div>
<!-- weather api js code -->
<script type="module" src="javascripts/weatherAPI.js"></script>



<p style="display: none;" id="user_image"> <%= user.imageBase64 %> </p>
<script>
  const dogevents = <%- JSON.stringify(dogevents)  %>; 
</script>

