<h1 id="title">Map</h1>
<div id="coordinateInput">
  <button id=update-map>Update View</button>
  <input type="text" name="lat" id="lat">
  <input type="text" name="lon" id="lon">
</div>
<div id="map">
  <script src="javascripts/map.js"></script>
</div>