<div id="formContent">
  <form id="new-user-form" action="/users" method="post">
    <br>
    <legend id="title">Create an account</legend>
    <input type="email" id="email" class="" name="email" placeholder="email">
    <input type="password" id="password" class="" name="password" 
    placeholder="password"
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
    require>
    <input type="submit" class="submit" value="Submit">
  </form>
</div>
<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A lowercase letter</p>
  <p id="capital" class="invalid">A capital (uppercase) letter</p>
  <p id="number" class="invalid">A number</p>
  <p id="length" class="invalid">Minimum 8 characters</p>
</div>

<link rel='stylesheet' href='/stylesheets/password_requirements.css' />
<script src="/javascripts/password_requirements.js" ></script>
